// _block.body.search-book-preview.scss
//
// - search bar and the preview section

.wrapper--search {
  @include setWrapper();
  margin-bottom: 0;
  border-bottom: none;
}

.wrapper--preview {
  @include setWrapper(1rem);
  margin-top: 0;
  text-align: center;
  font-family: $font-stack--books;
}

// bad idea to write the redundant into the generic as the wrapper name would be generic
.wrapper__subwrapper--search {
  padding: 1rem;
  text-align: center;
}


.search {
  &__bar {
    display: inline-block;

    &__label {
      height: 2rem;
      border: 1px solid map-get($color-stack, font__link--base);
      vertical-align: top;
      padding: 0.25rem 0.5rem 0;
      font-size: 1rem;
      background-color: #cacaca;
    }

    &__input {
      margin: 0 auto;
      width: calc(100% - 8.5rem);
      border-width: 1px 0;
      border-style: solid;
      border-color: map-get($color-stack, font__link--base);
    }

    &__submit {
      padding: 0 0.5rem;
      height: 2rem;
      border: 1px solid map-get($color-stack, font__link--base);
      //vertical-align: middle;
      @include setBgColorAndHover(map-get($color-stack, bg--base));
    }
  }
}

.preview {
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
  }
  &__author {
    font-size: 0.9rem;
    margin-bottom: 1rem; 
  }

  &__excerpt {
    text-align: left;
    text-indent: 1rem;
    margin-bottom: 1rem;
  }

  &__permalink {
    font-size: 0.9rem;
    text-align: left;
    font-weight: bold;
  }

  &__submit {
    @include setButton();
  }
  
}
