// _block.body.bookshelf.scss
//
// - display case for .books

.wrapper--bookshelf {
  @include setWrapper();
  height: auto;
}

.book {
  display: inline-block;
  border: 1px solid gray;
  margin: 1rem;

  &__link {
    //display: block;
  }

  &__image {
    display: block; // get rid of white space below images
  }
}
