doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    title Book Swap, a Free Code Camp Project
    script(src='/static/js/pre.bundle.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Raleway|Cormorant+Garamond')
    link(rel='stylesheet' href='/static/css/style.css')
  body
    nav.main-nav
      ul(class= path)
        //
          a.main-nav__logo(href='/').index
            .logo__container
              img.logo__image(src='/static/img/book.svg')
        if loggedIn === 'true'
          li.main-nav__list.mybooks: a(href='/mybooks') My Books
          li.main-nav__list.dropdown-nav.swaps Swaps
            ul
              li.dropdown-nav__list: a(href='/request') Request
              li.dropdown-nav__list: a(href='/pending') Pending
              li.dropdown-nav__list: a(href='/completed') Completed
          li.main-nav__list.dropdown-nav.myaccount My Account
            ul
              li.dropdown-nav__list: a(href='/settings') Settings
              li.dropdown-nav__list.logout: a(href='/logout') Log Out
        else
          li.main-nav__list.signup: a(href='/signup') Sign Up
          li.main-nav__list.login: a(href='/login') Log In
    if path == 'index'
      section.base-layer--index
        .banner--index.align--center
          a.banner__link(href='/')
            .banner__full-logo 
              .banner__text.banner__text--pre Book
              .banner__image: img.banner__image--book(src='/static/img/book.svg')
              .banner__text.banner__text--post Swap
          .banner__phrases
            .banner__phrases--1 Sample Adventures.
          //
            .banner__phrases--2 Share Inspirations.
            .banner__phrases--3 Swap Ideas.

    else 
      section.base-layer
        a.path-bar__link(href='/')
          .path-bar__subsection.path-bar__subsection--index 
            .path-bar__text Book Swap
        if path != 'index'
          .path-bar__subsection.path-bar__subsection--path
            if path == 'mybooks'
              .path-bar__text My Books
            else if path == 'request'
              .path-bar__text Request A Swap
            else if path == 'pending'
              .path-bar__text Pending Swaps
            else if path == 'completed'
              .path-bar__text Completed Swaps
            else if path == 'signup'
              .path-bar__text Sign Up
            else if path == 'login'
              .path-bar__text Log In
            else if path == 'settings'
              .path-bar__text Settings
            else
              .path-bar__text Page Not Found
