doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width initial-scale=1')
    title BookSwap, a Free Code Camp Project
    script(src='/static/js/pre.bundle.js')
    link(rel='stylesheet' href='/static/css/style.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway|Cormorant+Garamond')
  body
    nav.main-nav
      ul(class= path)
        a.main-nav__logo(href='/').index: img.main-nav__logo--img(src='/static/img/checkmark.svg')
        if loggedIn === 'true'
          li.main-nav__list.mybooks: a(href='/mybooks') My Books
          li.main-nav__list.dropdown-nav.swaps Swaps
            ul
              li.dropdown-nav__list: a(href='/request') Request
              li.dropdown-nav__list: a(href='/pending') Pending
              li.dropdown-nav__list: a(href='/completed') Completed
          li.main-nav__list.dropdown-nav.myaccount My Account
            ul
              li.dropdown-nav__list: a(href='/settings') Settings
              li.dropdown-nav__list.logout: a(href='/logout') Log Out
        else
          li.main-nav__list.signup: a(href='/signup') Sign Up
          li.main-nav__list.login: a(href='/login') Log In
    if path == 'index'
      section.banner__base-layer--index
        .banner--index.align--center
          a.heading__link(href='/')
            .heading__full-logo 
              .banner__text Book Swap
    else 
      section.banner__base-layer
        a.heading__link(href='/')
          .banner__subsection.banner__subsection--index 
            .banner__text Book Swap
        if path != 'index'
          .banner__subsection.banner__subsection--path
            if path == 'mybooks'
              .banner__text My Books
            else if path == 'request'
              .banner__text Request A Swap
            else if path == 'pending'
              .banner__text Pending Swaps
            else if path == 'completed'
              .banner__text Completed Swaps
            else if path == 'signup'
              .banner__text Sign Up
            else if path == 'login'
              .banner__text Log In
            else if path == 'settings'
              .banner__text Settings
            else
              .banner__text Page Not Found
