mixin spb(buttonLabel)
  section
    .wrapper--search
      .wrapper__subwrapper--search 
        if path != 'mybookshelf'
          label.search__bar.search__bar__label Search
          input.search__bar.search__bar__input.search__bar__input--allbookshelves
        else 
          select.search__bar__option
            option(value='add') Search To Add
            option(value='find') Search To Find
            input.search__bar.search__bar__input.search__bar__input--mybookshelf
        button.search__bar.search__bar__submit(type='button') Submit
    .wrapper--preview.is-not-displayed
      .preview__title
        a.preview__link
      .preview__author
      .preview__description
      if buttonLabel
        button.preview__submit(type='button')= buttonLabel
    .wrapper--bookshelf.bookshelf--mybooks
      

    //
      .book: a.book__link(href='https://books.google.com/books?id=wiX1O1ZBdYoC&hl=en&source=gbs_api'): img.book__image(src='http://books.google.com/books/content?id=wiX1O1ZBdYoC&printsec=frontcover&img=1&zoom=1&source=gbs_api')
      .book: a.book__link(href='https://www.googleapis.com/books/v1/volumes/R7YsowJI9-IC'): img.book__image(src='http://books.google.com/books/content?id=R7YsowJI9-IC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_ap')
      .book: a.book__link(href='https://www.googleapis.com/books/v1/volumes/p1MULH7JsTQC'): img.book__image(src='http://books.google.com/books/content?id=p1MULH7JsTQC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api')
      .book: a.book__link(href='https://www.googleapis.com/books/v1/volumes/PXa2bby0oQ0C'): img.book__image(src='http://books.google.com/books/content?id=PXa2bby0oQ0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api')

