include /includes/header.pug
section.wrapper--trades
  .sub-wrapper--trades.self-desired
    .subsection__title Books I Wanted
  //
    .trade
      .trade__request-date
      .trade__description You have traded your copy of _____ for a user's copy of ____.
      .trade__pictogram
        .book--self-owned
          a.book__link(href='https://books.google.com/books?id=wiX1O1ZBdYoC&hl=en&source=gbs_api'): img.book__image(src='http://books.google.com/books/content?id=wiX1O1ZBdYoC&printsec=frontcover&img=1&zoom=1&source=gbs_api')
        .arrow
          img.arrow-right(src='/static/img/arrow-right-completed.svg')
        .book--other-owned
          a.book__link(href='https://www.googleapis.com/books/v1/volumes/PXa2bby0oQ0C'): img.book__image(src='http://books.google.com/books/content?id=PXa2bby0oQ0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api')
    .trade
      .trade__request-date
      .trade__description You have traded your copy of _____ for a user's copy of ____.
      .trade__pictogram
        .book--self-owned
          a.book__link(href='https://books.google.com/books?id=wiX1O1ZBdYoC&hl=en&source=gbs_api'): img.book__image(src='http://books.google.com/books/content?id=wiX1O1ZBdYoC&printsec=frontcover&img=1&zoom=1&source=gbs_api')
        .arrow
          img.arrow-right(src='/static/img/arrow-right-completed.svg')
        .book--other-owned
          a.book__link(href='https://www.googleapis.com/books/v1/volumes/PXa2bby0oQ0C'): img.book__image(src='http://books.google.com/books/content?id=PXa2bby0oQ0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api')

  .sub-wrapper--trades.other-desired
    .subsection__title Books Others Wanted
  //
    .trade
      .trade__request-date
      .trade__description Another user traded their copy of _____ for a your copy of ____.
      .trade__pictogram
        .book--self-owned
          a.book__link(href='https://books.google.com/books?id=wiX1O1ZBdYoC&hl=en&source=gbs_api'): img.book__image(src='http://books.google.com/books/content?id=wiX1O1ZBdYoC&printsec=frontcover&img=1&zoom=1&source=gbs_api')
        .arrow
          img.arrow-left(src='/static/img/arrow-left-completed.svg')
        .book--other-owned
          a.book__link(href='https://www.googleapis.com/books/v1/volumes/PXa2bby0oQ0C'): img.book__image(src='http://books.google.com/books/content?id=PXa2bby0oQ0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api')
include /includes/footer.pug

