include /includes/header.pug
.title: span My Books
section
  .bookshelf.bookshelf--mybooks
    .book: a(href='https://books.google.com/books?id=wiX1O1ZBdYoC&hl=en&source=gbs_api'): img(src='http://books.google.com/books/content?id=wiX1O1ZBdYoC&printsec=frontcover&img=1&zoom=1&source=gbs_api')
    .book: a(href='https://www.googleapis.com/books/v1/volumes/R7YsowJI9-IC'): img(src='http://books.google.com/books/content?id=R7YsowJI9-IC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_ap')
    .book: a(href='https://www.googleapis.com/books/v1/volumes/p1MULH7JsTQC'): img(src='http://books.google.com/books/content?id=p1MULH7JsTQC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api')
    .book: a(href='https://www.googleapis.com/books/v1/volumes/PXa2bby0oQ0C'): img(src='http://books.google.com/books/content?id=PXa2bby0oQ0C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api')
include /includes/footer.pug

