include /includes/header.pug
//
  .page-title: span Request
include /includes/mixins/search-preview-bookshelf.pug
.subsection.request__section--one
  .subsection__title
    .request__step-number.request__step-number--incomplete 1
    span Request
  +spb('Request')
  .wrapper--request__selection.is-not-displayed
    .request__selection__description
      .selection--title
      .selection--author
    .request__selection__book-image
      img.book__image
    button.request__selection__close(type='button') &#10005;

.subsection.request__section--two.is-not-displayed
  .subsection__title
    .request__step-number.request__step-number--incomplete 2
    span Offer
  +spb('Offer')
  .wrapper--request__selection.is-not-displayed
    .request__selection__description
      .selection--title
      .selection--author
    .request__selection__book-image
      img.book__image
    button.request__selection__close(type='button') &#10005;

.subsection.request__section--three.is-not-displayed
  .subsection__title
    .request__step-number.request__step-number--incomplete 3
    span Confirm
  .wrapper--request__confirm
    button.request__button--swap(type='submit') Request Swap
    button.request__button--cancel(type='button') Cancel
include /includes/footer.pug

