include /includes/header.pug
//
  .page-title: span Request
include /includes/mixins/search-preview-bookshelf.pug
.subsection
  .subsection__title
    .request__step-number 1
    span Request
  +spb('Request')
  .wrapper--request__selection
    span Request:
.subsection
  .subsection__title
    .request__step-number 2
    span Offer
  +spb('Offer')
  .wrapper--request__selection
    span Offer:
.subsection
  .subsection__title
    .request__step-number 3
    span Confirm
  .wrapper--request__confirm
    button.request__button--swap(type='submit') Request Swap
    button.request__button--cancel(type='button') Cancel
include /includes/footer.pug

