include /includes/header.pug
//
  .page-title: span Request
include /includes/mixins/search-preview-bookshelf.pug
.subsection
  .subsection__title
    .request__step-number 1
    span Request
  +spb('Request')
  .wrapper--request__selection
    .request__selection__description
      .selection--title Angels & Demons
      .selection--author Dan Brown
    .request__selection__book-image
      a.book__link(href='https://books.google.com/books?id=wiX1O1ZBdYoC&hl=en&source=gbs_api')
        img.book__image(src='http://books.google.com/books/content?id=wiX1O1ZBdYoC&printsec=frontcover&img=1&zoom=1&source=gbs_api')

.subsection
  .subsection__title
    .request__step-number 2
    span Offer
  +spb('Offer')
  .wrapper--request__selection
    span Offer:
.subsection
  .subsection__title
    .request__step-number 3
    span Confirm
  .wrapper--request__confirm
    button.request__button--swap(type='submit') Request Swap
    button.request__button--cancel(type='button') Cancel
include /includes/footer.pug

